venv_own/
__pycache__/
*.pyc
*.pyo
*.pyd
*.dll
*.so
*.bin
.env
*.db
*.sqlite
.DS_Store
# Временные и тестовые файлы
add_*.py
check_*.py
test_*.py
static/reports/*.pdf
uploads/*.jpg
uploads/*.png
*.pdf
*.jpg