# Виртуальные окружения
venv/
venv_own/
venv_yolo/
venv311/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Большие бинарные файлы
*.dll
*.exe
*.so
*.bin

# Загрузки и отчёты
uploads/
static/reports/*.pdf
static/reports/*.csv

# Модели
models/*.pkl
models/*.h5

# Docker
.env
postgres_data/
redis_data/